<br>

<li>current_user:
<%= current_user.email %>
</li>
<li>last signed in at:
<%= current_user.last_sign_in_at %>
</li>
<li>current user id
<%= current_user.id %>
</li>
<p><font color="red">## セッション中 ##</font>　終了</p>
<%= link_to '終了' ,  "/studysessions/stop/#{@active_now.id}/#{@active_now.user}/#{((Time.now-@active_now.created_at)/60).to_i}", :method=>:patch%>



<% @ss2.each do |now| %>
<li>ユーザ:
  <a href="/users/<%= now.user %>">
    
    <% @user=User.find(now.user) %>
    <%= @user.nickname %>
     
  </a>
  <%= fa_icon 'star-o' %>STAR
</li>
<li>教材・アクティビティ
<br>

<a href="http://amazon.co.jp/dp/<%= now.textbook %>" target="_blank">
<img src="
http://images-jp.amazon.com/images/P/<%= now.textbook %>.09.TZZZZZZZ.jpg">
</a>
</li>
<br>
room:
<%= now.room %>
<% if now.active? %>
<font color="red">#ACTIVE</font>

<% end %>


<li>
  <%= ((Time.now-now.created_at)/60).to_i %>分
</li>

<hr>
<% end %>



<%= link_to "Home" ,root_path %>