
<span class="label label-info"><h4><%= Room.find(@active_now.room).name %></h4></span>
<%= link_to '終了' ,  "/studysessions/stop/#{@active_now.id}/#{@active_now.user}/#{((Time.now-@active_now.created_at)/60).to_i}/#{@active_now.room}", :method=>:patch, :class=>"label" %>

<br>

<div class="container">
<table class="table">
  <tbody>
    <% @ss2.each do |now| %>
      <tr>
        <td>
          <a href="/users/<%= now.user %>">
          <% @user=User.find(now.user) %>
          <%= @user.nickname %>
          </a>

          <a href="http://amazon.co.jp/dp/<%= now.textbook %>" target="_blank">
          <img src="http://images-jp.amazon.com/images/P/<%= now.textbook %>.09.TZZZZZZZ.jpg"></a>
          <%= ((Time.now-now.created_at)/60).to_i %>分

          <% if now.evaluators_for(:stars).include?(@current_user) %>
            <span style="color:gold;">
            <%= fa_icon 'star' %>
            </span>
          <% else %>
            <span style="color:lightgray" id="star-icon<%= now.id  %>">
            <%= link_to (fa_icon 'star-o'), "/studysessions/like/#{now.id}" , remote:true%>
            </span>
          <% end %>
          <span id="star-sum<%= now.id  %>">
            <%= now.reputation_for(:stars).to_i %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>

