<!-- カード  -->
<h4><%= Room.find(@active_now.room).name %></h4>
<%= link_to '終了' ,  "/studysessions/stop/#{@active_now.id}/#{@active_now.user}/#{@active_now.created_at.to_i}/#{@active_now.room}", :method=>:patch, :class=>"btn-large custombutton waves-effect waves-light" %>

<ul class="collection">
  <% @ss2.each do |studysession| %>
    <li class="collection-item avatar">
      <a href="http://amazon.co.jp/dp/<%= studysession.textbook %>" target="_blank">
          <img src="http://images-jp.amazon.com/images/P/<%= studysession.textbook %>.09.TZZZZZZZ.jpg" alt="" class="circle">
      </a>
      
      <span class="title">          
        <a href="/users/<%= studysession.user %>">
          <% @user=User.find(studysession.user) %>
          <%= @user.nickname %>
        </a>
      </span>
      <p>
        <% if Textbook.find_by(asin:studysession.textbook).present? %>
          <%= cut_off(Textbook.find_by(asin:studysession.textbook).title,15)%>
        <% else %>
          Textbook
        <% end %>
        <br>
        <div class="chip blue lighten-5">
          <%= @user.area %>
        </div>
        <div class="chip light-green lighten-5">
          <%= @user.grade %>
        </div>
      </p>
      
      <span class="secondary-content">
        <%= fa_icon 'clock-o' %>
        <%= ((Time.now-studysession.created_at)/60).to_i %>分<br>
        <% if studysession.evaluators_for(:stars).include?(@current_user) %>
          <span style="color:gold;" class="star">
            <%= fa_icon 'star' %>
          </span>
        <% else %>
          <span style="color:lightgray" id="star-icon<%= studysession.id  %>" class="star">
            <%= link_to (fa_icon 'star'), "/studysessions/like/#{studysession.id}" , remote:true,:class=>"unstarred"%>
          </span>
        <% end %>
        <span id="star-sum<%= studysession.id  %>">
          <%= studysession.reputation_for(:stars).to_i %>
        </span>
      </span>
    </li>
  <% end %>
</ul>
<!-- ここまで -->  

