<!-- カード  -->
<h4><%= Room.find(@active_now.room).name %>(<%= Room.find(@active_now.room).current_students %>人)</h4>
<%= link_to '終了' ,  "/studysessions/stop/#{@active_now.id}/#{@active_now.user}/#{@active_now.created_at.to_i}/#{@active_now.room}", :method=>:patch, :class=>"btn-large custombutton waves-effect waves-light" %>

<ul class="collection">
  <% @ss2.each do |studysession| %>
    <li class="collection-item avatar">
      <a href="http://amazon.co.jp/dp/<%= studysession.textbook %>" target="_blank">
        <img src="http://images-jp.amazon.com/images/P/<%= studysession.textbook %>.09.TZZZZZZZ.jpg" alt="" class="circle">
      </a>
      
      <span class="title">          
        <a href="/users/<%= studysession.user %>">
          <% @user=User.find(studysession.user) %>
          <%= @user.nickname %>
        </a>
        <div class="chip blue lighten-5">
          <%= @user.area %>
        </div>
        <div class="chip light-green lighten-5">
          <%= @user.grade %>
        </div>
        <% if @user.skype.present? %>
          <a href="skype:<%= @user.skype %>?call"><%= fa_icon 'skype' %></a>
        <% end %>
      </span>
      <p>
        <% if Textbook.find_by(asin:studysession.textbook).present? %>
          <%= cut_off(Textbook.find_by(asin:studysession.textbook).title,28).html_safe%>
        <% else %>
          <%= studysession.textbook %>
        <% end %>
        <br>
        <div class="chip tweet grey lighten-5">
          <%= studysession.tweet  %>
        </div>
      </p>
      
      <span class="secondary-content">
        <%= fa_icon 'clock-o' %>
        <script type="text/javascript">
          $(function(){
            <% if Time.now-studysession.created_at>60 %>
              $("#time-<%= studysession.id %>").text(<%= (Time.now-studysession.created_at).to_i/60 %>)
            <% else %>
              $("#time-<%= studysession.id %>").text("0")
            <% end %>
            var start = <%= studysession.created_at.to_i %>;
            setInterval( function(){
              var now = new Date();
              //now=Math.round(now.getTime()/1000);
              now = Math.round((now.getTime()/1000-start)/60)
              $("#time-<%= studysession.id %>").text(now);
            }, 3000);
          });
        </script>
        <span id="time-<%= studysession.id %>"></span>分
        <br>
        
        <% if studysession.evaluators_for(:stars).include?(@current_user) %>
          <span style="color:gold;" class="star">
            <%= fa_icon 'star' %>
          </span>
        <% else %>
          <span style="color:lightgray" id="star-icon<%= studysession.id  %>" class="star">
            <%= link_to (fa_icon 'star'), "/studysessions/like/#{studysession.id}" , remote:true,:class=>"unstarred"%>
          </span>
        <% end %>
        <span id="star-sum<%= studysession.id  %>">
          <%= studysession.reputation_for(:stars).to_i %>
        </span>
      </span>
    </li>
  <% end %>
</ul>
<!-- ここまで -->  

