<h4>教材・アクティビティ</h4>
<% if @active_now.present? %>
<font color="red">## active ##  id:<%= @active_now.id %>
<a href="/studysessions/studying/<%= @active_now.id %>/<@active_now.room>">
セッションに戻る</a>
</font>
<% end %>

<div class="chip blue lighten-5"><%= Room.find(session[:room]).name %></div>
<br>

<div>
  <p>
  <%= form_tag "/studysessions/new/#{current_user.id}/#{session[:room]}"  do %>
    <%= text_field_tag 'keyword', @keyword ,:placeholder=>"Amazonから検索"%>
    <%= submit_tag "検索",class:"btn custombutton" %>
  <% end %>
  </p>
</div>


<!--自分で作成した教材  -->
<div>
    <%= form_for(@studysession) do |f| %>
        <%= f.hidden_field :active, :value => true %>
        <%= f.hidden_field :user, :value => params[:id] %>
        <%= f.hidden_field :room, :value => session[:room] %>
        <%= f.text_field :textbook , :placeholder=>"オリジナルで登録" %>
        <%= f.submit "開始",class:"btn custombutton waves-effect waves-light" %>
    <% end %>
</div>




<!-- 検索結果カード  -->
<% if @res.present? %>
  <ul class="collection">
    <% @res.items.each do |studysession| %>
      <li class="collection-item avatar">
        <%= link_to studysession.get('DetailPageURL') do %>
          <%= image_tag studysession.get('SmallImage/URL'), {:style => 'border: none;'} %>
        <% end %>
        
        <span class="title">          
          <%= cut_off(studysession.get('ItemAttributes/Title'),15) %>
        </span>
        <p>
          
        </p>
        
        <span class="secondary-content">
          
          <%= form_for(@studysession) do |f| %>
            <%= f.hidden_field :active, :value => true %>
            <%= f.hidden_field :textbook, :value => studysession.get('ASIN') %>
            <%= f.hidden_field :user, :value => params[:id] %>
            <%= f.hidden_field :room, :value => session[:room] %>
            
            <%= f.submit "開始", class: "btn custombutton waves-effect waves-light"  %>
          <% end %>
          
        </span>
      </li>
    <% end %>
  </ul>
<% end %>
<!-- ここまで -->  


<% unless @res.present? %>
<h5>履歴</h5>
<!-- 履歴カード  -->
<ul class="collection">
  <% @history.each do |studysession| %>
    <li class="collection-item avatar">
      <a href="http://amazon.co.jp/dp/<%= studysession %>" target="_blank">
          <img src="http://images-jp.amazon.com/images/P/<%= studysession %>.09.TZZZZZZZ.jpg" alt="" class="circle">
      </a>
      <span class="title">          
        <% if Textbook.find_by(asin:studysession).present? %>
          <%= cut_off(Textbook.find_by(asin:studysession).title,15)%>
        <% else %>
          Title
        <% end %>
      </span>
      <p>
        
        <%= studysession %>
      </p>
      <span class="secondary-content">
        <%= form_for(@studysession) do |f| %>
          <%= f.hidden_field :active, :value => true %>
          <%= f.hidden_field :textbook, :value => studysession %>
          <%= f.hidden_field :user, :value => params[:id] %>
          <%= f.hidden_field :room, :value => session[:room] %>
          <%= f.submit "開始", class: "btn  custombutton waves-effect waves-light"  %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>
<% end %>
<!-- ここまで -->  