<h1>教材・アクティビティ</h1>



<p>部屋</p>
<p><%= session[:room] %>
<br>
</p>
<p>教材・アクティビティ</p>
<% text_ex=["4010339179","4777201554","4796110895","404600035X"] %>

<% text_ex.each do |isbn| %>
<p>
<img src="
http://images-jp.amazon.com/images/P/<%= isbn %>.09.TZZZZZZZ.jpg">

    <%= form_for(@studysession) do |f| %>
      <%= f.hidden_field :active, :value => true %>
      <%= f.hidden_field :textbook, :value => isbn %>
      <%= f.hidden_field :user, :value => params[:id] %>
      <%= f.hidden_field :room, :value => session[:room] %>
      
    <%= f.submit "#{isbn}", class: "btn btn-large btn-primary" %>
<% end %>
</p>

<% end %>

<%= link_to "開始" ,new_studysession_path %>
<%= link_to "Home" ,root_path %>