<div class="chip blue lighten-5"><%= Room.find(session[:room]).name %></div><br>

使用する教材・アクティビティを選んで「開始」をクリック！<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Amazon検索・オリジナル教材
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div>
          <p>
          <%= form_tag "/studysessions/new/#{current_user.id}/#{session[:room]}"  do %>
            <%= text_field_tag 'keyword', @keyword ,:placeholder=>"Amazonから検索"%>
            <!-- <%= submit_tag "検索",class:"btn custombutton" %> -->
            <%= button_tag sanitize('<i class="fa fa-search"></i>  検索'), :type => "submit",
            :class =>"btn custombutton" %>
          <% end %>
          </p>
        </div>


        <div>
          <%= form_for(@studysession) do |f| %>
            <%= f.hidden_field :active, :value => true %>
            <%= f.hidden_field :user, :value => params[:id] %>
            <%= f.hidden_field :room, :value => session[:room] %>
            <%= f.text_field :textbook , :placeholder=>"オリジナルで登録" %>
            
            <div class="collapse" id="collapseExample">
              <div >
                 <%= f.text_field :tweet , :placeholder=>"つぶやき" %>
              </div>
            </div>


            <%= button_tag sanitize('<i class="fa fa-pencil" ></i>  開始'), :type => "submit",
            :class =>"btn custombutton" ,data: { disable_with: '送信中...' }%>
            <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="tweet">
              <%= fa_icon 'commenting' %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div>
  <p>
  <%= form_tag "/studysessions/new/#{current_user.id}/#{session[:room]}"  do %>
    <%= text_field_tag 'keyword', @keyword ,:placeholder=>"Amazonから検索"%>
    <%= button_tag sanitize('<i class="fa fa-search"></i>  検索'), :type => "submit",
    :class =>"btn custombutton" %>
  <% end %>
  </p>
</div>-->

<!--自分で作成した教材  -->





<!-- 検索結果カード  -->
<% if @res.present? %>
  <ul class="collection">
    <% @res.items.each do |studysession| %>
      <li class="collection-item avatar">
        <%= link_to studysession.get('DetailPageURL') do %>
          <%= image_tag studysession.get('SmallImage/URL'), {:style => 'border: none;',class:"circle"}  %>
        <% end %>
        

        <%= form_for(@studysession) do |f| %>
          <span class="title">          
            <%= cut_off(studysession.get('ItemAttributes/Title'),28).html_safe %>

          </span>
          <p>
             <div class="collapse" id="collapseExampleAmazon<%= studysession.get('ASIN') %>">
                <div >
                   <%= f.text_field :tweet , :placeholder=>"つぶやき" %>
                </div>
             </div>
          </p>
          
          <span class="secondary-content">         
              <%= f.hidden_field :active, :value => true %>
              <%= f.hidden_field :textbook, :value => studysession.get('ASIN') %>
              <%= f.hidden_field :user, :value => params[:id] %>
              <%= f.hidden_field :room, :value => session[:room] %>
              <%= button_tag sanitize('<i class="fa fa-pencil" ></i>  開始'), :type => "submit",
               :class =>"btn custombutton",data: { disable_with: '送信中...' } %>
               <a role="button" data-toggle="collapse" href="#collapseExampleAmazon<%=studysession.get('ASIN') %>" aria-expanded="false" 
              aria-controls="collapseExample" class="tweet">
                <%= fa_icon 'commenting' %>
              </a>

              
              
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<!-- ここまで -->  



<% if !@res.present? and @history.present? %>
<h5>履歴</h5>
<!-- 履歴カード  -->
<ul class="collection">
  <% @history.each do |studysession| %>
    <li class="collection-item avatar">
      <a href="http://amazon.co.jp/dp/<%= studysession %>" target="_blank">
          <img src="http://images-jp.amazon.com/images/P/<%= studysession %>.09.TZZZZZZZ.jpg" alt="" class="circle">
      </a>
      <%= form_for(@studysession) do |f| %>
        <span class="title">        
          <% if Textbook.find_by(asin:studysession).present? %>
            <%= cut_off(Textbook.find_by(asin:studysession).title,28).html_safe %>
          <% else %>
            <%= studysession %>
          <% end %>
        </span>
        <p>
          <div class="collapse" id="collapseExampleAmazon<%= studysession %>">
            <div >
             <%= f.text_field :tweet , :placeholder=>"つぶやき" %>
            </div>
          </div>
        </p>
        <span class="secondary-content">
          
            <%= f.hidden_field :active, :value => true %>
            <%= f.hidden_field :textbook, :value => studysession %>
            <%= f.hidden_field :user, :value => params[:id] %>
            <%= f.hidden_field :room, :value => session[:room] %>
            <%= button_tag sanitize('<i class="fa fa-pencil" ></i>  開始'), :type => "submit",
            :class =>"btn custombutton" ,data: { disable_with: '送信中...' } %>
            <a role="button" data-toggle="collapse" href="#collapseExampleAmazon<%= studysession %>" aria-expanded="false" 
              aria-controls="collapseExample" class="tweet">
              <%= fa_icon 'commenting' %>
            </a>
            
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>
<!-- ここまで -->  