<h1>教材・アクティビティ</h1>
<% if @active_now.present? %>
<font color="red">## active ##  id:<%= @active_now.id %>
<a href="/studysessions/studying/<%= @active_now.id %>/<@active_now.room>">
セッションに戻る</a>
</font>
<% end %>

<span class="label label-info"><h4><%= Room.find(session[:room]).name %></h4></span>
<br>

<div>
  <p>
  <%= form_tag "/studysessions/new/#{current_user.id}/#{session[:room]}"  do %>
    <%= text_field_tag 'keyword', @keyword ,:placeholder=>"Amazonから検索"%>
    <%= submit_tag '検索' %>
  <% end %>
  </p>
</div>


<!--自分で作成した教材  -->
<div>
    <%= form_for(@studysession) do |f| %>
        <%= f.hidden_field :active, :value => true %>
        <%= f.hidden_field :user, :value => params[:id] %>
        <%= f.hidden_field :room, :value => session[:room] %>
        <%= f.text_field :textbook , :placeholder=>"オリジナルで登録" %>
        <%= f.submit "開始" %>
    <% end %>
</div>




<!-- カード  -->
<% if @res.present? %>
  <ul class="collection">
    <% @res.items.each do |studysession| %>
      <li class="collection-item avatar">
        <%= link_to studysession.get('DetailPageURL') do %>
          <%= image_tag studysession.get('SmallImage/URL'), {:style => 'border: none;'} %>
        <% end %>
        
        <span class="title">          
          <%= studysession.get('ItemAttributes/Title') %>
        </span>
        <p>
          
        </p>
        
        <span class="secondary-content">
          
          <%= form_for(@studysession) do |f| %>
            <%= f.hidden_field :active, :value => true %>
            <%= f.hidden_field :textbook, :value => studysession.get('ASIN') %>
            <%= f.hidden_field :user, :value => params[:id] %>
            <%= f.hidden_field :room, :value => session[:room] %>
            
            <%= f.submit "開始", class: "btn  custombutton"  %>
          <% end %>
          
        </span>
      </li>
    <% end %>
  </ul>
<% end %>
<!-- ここまで -->  



<h5>履歴</h5>

<!-- カード  -->
<ul class="collection">
  <% @history.each do |studysession| %>
    <li class="collection-item avatar">
      <a href="http://amazon.co.jp/dp/<%= studysession.textbook %>" target="_blank">
          <img src="http://images-jp.amazon.com/images/P/<%= studysession.textbook %>.09.TZZZZZZZ.jpg" alt="" class="circle">
      </a>
      
      <span class="title">          
        Title
      </span>
      <p>
        <%= studysession.textbook%>
      </p>
      
      <span class="secondary-content">
        
        <%= form_for(@studysession) do |f| %>
          <%= f.hidden_field :active, :value => true %>
          <%= f.hidden_field :textbook, :value => studysession.textbook %>
          <%= f.hidden_field :user, :value => params[:id] %>
          <%= f.hidden_field :room, :value => session[:room] %>
          
          <%= f.submit "開始", class: "btn  custombutton"  %>
        <% end %>
        
      </span>
    </li>
  <% end %>
</ul>
<!-- ここまで -->  