
<h4>統計</h4>
<%= "合計学習時間: #{(@total_minutes_all/60).to_i}時間" %>
<br>
<%= "総セッション回数: #{@count_all}回"%>
<br>
<%= "AU: #{Studysession.where(created_at: (180.days.ago)..(Time.now)).group(:user).count.count}" %>
<br>
<%= "MAU: #{Studysession.where(created_at: (30.days.ago)..(Time.now)).group(:user).count.count}" %>
<br>
<table class="statsTable">
	<tr>
		<td>期間</td>
		<td>AU</td>
		<td>MAU</td>
	</tr>
	<% (0..9).each do |i| %>
	<tr>
		<td><%= "#{(30 + 30 * i).day.ago.strftime("%Y/%m/%d")} 〜 #{(0 + 30 * i).day.ago.strftime("%Y/%m/%d")}" %></td>
		<td><%= Studysession.where(created_at: ((180 + 30 * i).days.ago)..((0 + 30 * i).days.ago)).group(:user).count.count %></td>
		<td><%= Studysession.where(created_at: ((30 + 30 * i).days.ago)..((0 + 30 * i).days.ago)).group(:user).count.count %></td>

	</tr>
	<% end %>
</table>

<h4>回数別</h4>
<% user_times = User.group(:times).count %>
<table class="statsTable">
	<tr>
		<td>回</td>
		<td>人</td>
		<td>累計</td>
	</tr>
	<% count = 0 %>
	<% user_times.each do |user| %>
	<tr>
		<% user[0] = 0 unless user[0] %>
		<td><%= "#{user[0]}" %></td>
		<td><%= "#{user[1]}" %></td>
		<% count = count + user[1] %>
		<td><%= "#{count}" %></td>	
	</tr>
	<% end %>

</table>

<h4>新規登録ユーザ</h4>
<% new_user = User.group("date(created_at)").reorder("created_at desc").limit(14).count %>
<table class="statsTable">
	<tr>
		<td>日付</td>
		<td>人数</td>
	</tr>
<% new_user.each do |user| %>
	<tr>
		<td><%= user[0] %></td>
		<td><%= user[1] %></td>
	</tr>
<% end %>
</table>

<h4>デイリー</h4>
  <% @count_daily= Studysession.where.not(user:[2,14]).group("date(created_at)").reorder("created_at desc").count %>
  <% @total_minutes_daily= Studysession.where.not(user:[2,14]).group("date(created_at)").reorder("created_at desc").sum(:time) %>
  <% @count_daily.each do |i,n| %>
    <%=  "#{i} : #{n}回 : #{(@total_minutes_daily[i]/60).to_i}時間" %>
    <br>
  <% end %>