
<% if signed_in? %>
  <% unless current_user.nickname.present? %>
    <div class="alert alert-danger" role="alert">
      <%= link_to "こちらから",edit_user_registration_path%>ニックネーム、学年、地域、ひとことを設定してください</div>
  <% end %>
<% end %>

<%= image_tag 'STARDY-title.png' ,style:"width:100%;"%>
<h5 align="center">いま、誰が勉強してる？</h5>




<br>
<div>
<% unless signed_in? %>
  <%= link_to (fa_icon 'twitter')+ "  Sign in with Twitter",  user_omniauth_authorize_path(:twitter),class:"btn authtwi" %><br>
  <%= link_to (fa_icon 'facebook-square')+ "  Sign in with Facebook",  user_omniauth_authorize_path(:facebook),class:"btn authfb" %><br>
  <%= link_to (fa_icon 'envelope')+ "  新規登録",  new_user_registration_path,class:"btn register" %>
  <br>
<% end %>

<% unless @active_now.present? %>
    <!--
    <div class="row" style="margin-top:3rem;">
      <div class="col  m12 l6">
        <div class="card-panel grey lighten-5">
          <span>
            <h5>1.部屋を選択</h5>
            目標や学年別に部屋があるので、好きな部屋に入って勉強することができます :)
            
          </span>
        </div>
      </div>
      <div class="col m12 l6">
        <div class="card-panel grey lighten-5">
          <span>
            <h5>2.教材・活動を選択</h5>
            Amazonで検索するか、教材を自分で登録すると勉強セッションが開始します！
          </span>
        </div>
      </div>
    </div>
  -->
  <%= link_to "今すぐ開始" , ssession_path ,class: "waves-effect waves-light btn-large start" %>

<% else %>
  <%= link_to "セッションに戻る", "/studysessions/studying/#{@active_now.id}/#{@active_now.room}" ,class: "waves-effect waves-light btn-large custombutton" %>
<% end %>

<br>


<!-- カード -->  
<% if signed_in? %>
<h4>タイムライン</h4>
  <ul class="collection">
    <% @feeditems.first(20).each do |studysession| %>
      <%= render '/feeditem' ,feed_item: studysession %>
    <% end %>
  </ul>
<% end %>
<!--ここまで -->  

