
<% if signed_in? %>
  <% unless current_user.nickname.present? %>
    <div class="alert alert-danger" role="alert">
      <%= link_to "こちらから",edit_user_registration_path%>ニックネーム、学年、地域、ひとことを設定してください</div>
  <% end %>
  <% if current_user.email.include?("@example.com")%>
    <div class="alert alert-danger" role="alert">
      メールアドレスを設定して通知を受け取りましょう！<%= link_to "こちらから",edit_user_registration_path%>
    </div>
  <% end %>
<% end %>
<!--
<%= image_tag 'STARDY-title.png' ,style:"width:100%;"%>
<h5 align="center">いま、誰が勉強してる？</h5>
-->


<!-- tweet埋め込みテスト -->
<h5><%= feed_from_tw[0] %></h5>
<ul class="collection">
  <% @feeditems.first(20).each do |studysession| %>
    <% if studysession.active.present? %>
      <%= render '/feeditem' ,feed_item: studysession %>
    <% end %>
  <% end %>
  <% feed_from_tw[1].take(10).each_with_index do |tw, i| %>
    <li class="collection-item">
      <span class="title">          
        <a href="https://twitter.com/<%= tw.user.screen_name %>">
          <span class="cover twicon" style="background-image: url('http://www.paper-glasses.com/api/twipi/<%= tw.user.screen_name %>')">
          </span>
          <span>
            <%= tw.user.name %>
          </span>
        </a>
        <span class="feed-item">
          @<%= tw.user.screen_name %>
        </span>
      </span>
      <p class="tweet">
        <%= tw.full_text %>
      <br>
      </p>
      <div class="twcard-footer">
        <span class="feed-item">
          <%= tw.created_at.strftime("%Y年%m月%d日 %H:%M") %>
        </span>
        <span >
          <a href="http://twitter.com/intent/tweet?in_reply_to=<%= tw.id %>" class="tw-action" target="_blank"><i class="fa fa-reply"></i></a>
          <a href="http://twitter.com/intent/retweet?tweet_id=<%= tw.id %>" class="tw-action" target="_blank"><i class="fa fa-retweet"></i></a>
          <a href="http://twitter.com/intent/favorite?tweet_id=<%= tw.id %>" class="tw-action" target="_blank"><i class="fa fa-heart"></i></a>
        </span>
      </div>
    </li>
  <% end %>
</ul>

<!-- -->
<!-- -->

<br>
<div>
<% unless signed_in? %>
  <%= link_to (fa_icon 'twitter')+ "  Sign in with Twitter",  user_omniauth_authorize_path(:twitter),class:"btn authtwi" %><br>
  <%= link_to (fa_icon 'facebook-square')+ "  Sign in with Facebook",  user_omniauth_authorize_path(:facebook),class:"btn authfb" %><br>
  <%= link_to (fa_icon 'envelope')+ "  新規登録",  new_user_registration_path,class:"btn register" %>
  <br>
<% end %>

<% unless @active_now.present? %>
    <!--
    <div class="row" style="margin-top:3rem;">
      <div class="col  m12 l6">
        <div class="card-panel grey lighten-5">
          <span>
            <h5>1.部屋を選択</h5>
            目標や学年別に部屋があるので、好きな部屋に入って勉強することができます :)
            
          </span>
        </div>
      </div>
      <div class="col m12 l6">
        <div class="card-panel grey lighten-5">
          <span>
            <h5>2.教材・活動を選択</h5>
            Amazonで検索するか、教材を自分で登録すると勉強セッションが開始します！
          </span>
        </div>
      </div>
    </div>
  -->
  <%= link_to "今すぐ開始" , ssession_path ,class: "waves-effect waves-light btn-large start" %>

<% else %>
  <% session[:room]=@active_now.room %>
  <%= link_to "セッションに戻る", "/studysessions/studying/#{@active_now.id}/#{session[:room]}" ,class: "waves-effect waves-light btn-large custombutton" %>
<% end %>

<br>


<!-- カード -->  
<% if signed_in? %>
<h4>タイムライン</h4>
  <ul class="collection">
    <% @feeditems.first(20).each do |studysession| %>
      <%= render '/feeditem' ,feed_item: studysession %>
    <% end %>
  </ul>
<% end %>
<!--ここまで -->  

