<h1>STARDY</h1>
<h5>地球上すべてが勉強場所だ</h5>


<!--
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
-->
<br>
<div>
<% unless signed_in? %>
  <%= link_to "Sign in with Twitter",  user_omniauth_authorize_path(:twitter) %>
  <br>
<% end %>

<% unless @active_now.present? %>
  <%= link_to "今すぐ開始" , ssession_path ,class: "btn btn-large blue-grey darken-4" %>
<% else %>
  <%= link_to "セッションに戻る", "/studysessions/studying/#{@active_now.id}/#{@active_now.room}" %>
<% end %>

<br>


<% if signed_in? %>

  <div  class="container">
    <table class="bordered">
      <% @feed_items.each do |studysession|%>
        <tr>
          <td>
            <%= User.find(studysession.user).nickname %>
            <img src="http://images-jp.amazon.com/images/P/<%= studysession.textbook %>.09.TZZZZZZZ.jpg">
            <% if studysession.active %>
              セッションを開始しました！
            <% else %>
              <%= studysession.time %>分のセッションを終了しました。
            <% end %>
            <% if studysession.evaluators_for(:stars).include?(@current_user) %>
              <span style="color:gold;" >
              <%= fa_icon 'star' %>
              </span>
            <% else %>
              <span  id="star-icon<%= studysession.id  %>">
              <%= link_to (fa_icon 'star'), "/studysessions/like/#{studysession.id}" ,remote:true,:class=>"unstarred" %>
              </span>
            <% end %>
            <span id="star-sum<%= studysession.id  %>">
              <%= studysession.reputation_for(:stars).to_i %>
            </span>
          </td>
        </tr> 
      <% end  %>
    </table>
  </div>
<% end %>