<h1>予想平均点</h1>

<% if current_user.premium  %>
<%# 処理 %>
<%# DBから抽出したデータ %>
<% @score = UserScore.where("school not ? and year = ?", nil,params[:year]) %>

<%# 妥当データ %>
<% validScore = {} %>

<%# 妥当データの作成 %>
<% for answer in @score %>
  <%# 妥当性を評価する %>
  <%
    if validScore[answer.uuid]
      puts("already created #{validScore[answer.uuid]["created_at"]} but now compare with #{answer.created_at}")
      # すでにあるデータより早くに作られたら格納。
      if validScore[answer.uuid]["created_at"] > answer.created_at
        puts("created:#{validScore[answer.uuid]["created_at"]} is faster than #{answer.created_at}")
        validScore[answer.uuid] = {"japanese" => answer.japanese,
                                      "english" => answer.english,
                                      "math" => answer.math,
                                      "social" => answer.social,
                                      "science" => answer.science,
                                      "total" => answer.total,
                                      "school" => answer.school,
                                      "school_id" => answer.school_id,
                                      "created_at" => answer.created_at}
      end
    else
      validScore[answer.uuid] = {"japanese" => answer.japanese,
                                    "english" => answer.english,
                                    "math" => answer.math,
                                    "social" => answer.social,
                                    "science" => answer.science,
                                    "total" => answer.total,
                                    "school" => answer.school,
                                    "school_id" => answer.school_id,
                                    "created_at" => answer.created_at}
    end
  %>
<% end %>

<%# すべての学校データ %>
<% school_list = School.all %>
<%# 学校毎に算出する平均を格納するハッシュ %>
<% school_average = {} %>

<%# 学校idをキーに、名前、仮平均、割合をハッシュに格納する %>
<% for school in school_list%>
  <% total_pro_average = school.distinction.split(",")[2] %>
  <% school_average[school.id] = {"name" => school.name,"pro_ave" => total_pro_average, "percent" => school.percent } %>
<% end %>

<%# 全体の仮平均を算出する %>
<% pro_average = 0 %>
<% school_average.each {|key,value| %>
  <% pro_average += (value["pro_ave"].to_f * value["percent"].to_f) / 100  %>
<% } %>

<%# 学校別の平均点を出すための下処理 %>
  <% school_average.each {|school_key,school_value| %>
    <% validScore.each {|key, user| %>
      <%
        if school_key.to_i == user["school_id"].to_i
        #if (user["school_id"]).to_i == school.id.to_i
          #puts("uuid #{key} school_id #{user["school_id"].to_i} schoolname #{user["school"]}")
          if school_value["ave"]
            school_value["ave"] = (school_value["ave"].to_f * school_value["count"] + user["total"]) / (school_value["count"] + 1)
            school_value["count"] += 1
            #puts("average exists #{school_value["name"]} #{school_value["ave"] }")
          else
            school_value["ave"] = user["total"]
            school_value["count"] = 1
            #puts("new #{school_value["name"]} average data")
          end
        end
      %>
    <% } %>
  <% } %>

<%# 平均点を算出する%>

  <%# カバレッジを格納する変数 %>
  <% coverage = 0 %>

  <%# 算出した最終的な平均点を格納する変数 %>
  <% average = 0 %>

  <% school_average.each {|key,value| %>
    <%# データがあれば代入、なければ仮平均を適用 %>
    <%
      if value["ave"]
        processed_average = value["ave"]
        coverage += value["percent"]
      else
        processed_average = value["pro_ave"]
      end
    %>

    <%# 最終的な平均に代入%>
    <% average += (processed_average.to_f * value["percent"].to_f) / 100  %>
  <% } %>

<%# メインの表示 %>
  <h4><%= " #{Time.now.strftime("%H:%M")}現在" %></h4>
  <table class="statsTable">
    <tr>
      <td>妥当データ</td>
      <td>カバレッジ</td>
      <td>平均点</td>
      <td>割合</td>
      <td>分配点</td>
    </tr>
    <tr>
      <td><%= "#{validScore.count}件" %></td>
      <td><%= "#{coverage.round(1)}%"%></td>
      <td><%= "#{average.round(1)}点"%></td>
      <td></td>
      <td></td>
    </tr>
  </table>


  <h4>仮平均点</h4>
  <%= "仮平均#{pro_average}" %>
  <table class="statsTable">
    <tr>
      <td>id</td>
      <td>学校</td>
      <td>平均</td>
      <td>割合</td>
      <td>分配点</td>
    </tr>
  <% school_average.each {|key,value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value["name"] %></td>
      <td><%= value["pro_ave"] %></td>
      <td><%= value["percent"] %></td>
      <td><%= (value["pro_ave"].to_f * value["percent"].to_f) / 100 %></td>
    </tr>
  <% } %>
  </table>



  <h4>学校別平均点</h4>


    <%# 学校別に表示 %>
    <table class="statsTable">
      <tr>
        <td>id</td>
        <td>学校</td>
        <td>平均</td>
        <td>割合</td>
        <td>分配点</td>
      </tr>
    <% pro_average = 0 %>
    <% coverage = 0 %>
    <% average = 0 %>
    <% school_average.each {|key,value| %>
      <% pro_average += (value["pro_ave"].to_f * value["percent"].to_f) / 100  %>

      <%# データがあれば代入、なければ仮平均を適用 %>
      <%
        if value["ave"]
          processed_average = value["ave"]
          coverage += value["percent"]
        else
          processed_average = value["pro_ave"]
        end
      %>

      <%# 最終的な平均に代入%>
      <% average += (processed_average.to_f * value["percent"].to_f) / 100  %>

      <%# データがある学校はハイライト%>
      <% if value["ave"] %>
        <tr bgcolor="#fffdef">
      <% else %>
        <tr >
      <% end %>
        <td><%= key %></td>
        <td><%= value["name"] %></td>
        <td><%= processed_average %></td>
        <td><%= value["percent"]  %></td>
        <td><%= (processed_average.to_f * value["percent"].to_f) / 100 %></td>
      </tr>
    <% } %>
    </table>
    <%= "カバレッジ #{coverage}%" %><br>
    <%= "予想平均 #{average}" %>


  <h4>DB抽出データ</h4>
    <%= "#{params[:year]}年度" %>
  </h4>

  <table class="statsTable">
    <tr>
      <td>id</td>
      <td>uuid</td>
      <td>年度</td>
      <td>国語</td>
      <td>英語</td>
      <td>数学</td>
      <td>社会</td>
      <td>理科</td>
      <td>合計</td>
      <td>志望校</td>
      <td>志望校id</td>
      <td>登録日時</td>
    </tr>

    <% for answer in @score %>
      <%# Rubyでの処理 %>
      <%
        if validScore[answer.uuid]
          #puts("already created #{validScore[answer.uuid]["created_at"]} but now compare with #{answer.created_at}")
          # すでにあるデータより早くに作られたなら格納。
          if validScore[answer.uuid]["created_at"] > answer.created_at
            puts("created:#{validScore[answer.uuid]["created_at"]} is faster than #{answer.created_at}")
            puts("add faster data")
            validScore[answer.uuid] = {"japanese" => answer.japanese,
                                          "english" => answer.english,
                                          "math" => answer.math,
                                          "social" => answer.social,
                                          "science" => answer.science,
                                          "total" => answer.total,
                                          "school" => answer.school,
                                          "school_id" => answer.school_id,
                                          "created_at" => answer.created_at}
          end
        else
          validScore[answer.uuid] = {"japanese" => answer.japanese,
                                        "english" => answer.english,
                                        "math" => answer.math,
                                        "social" => answer.social,
                                        "science" => answer.science,
                                        "total" => answer.total,
                                        "school" => answer.school,
                                        "school_id" => answer.school_id,
                                        "created_at" => answer.created_at}
          puts("add new data")
        end
      %>
  		<tr>
  			<td>
  				<%= answer.id %>
  			</td>
        <td>
          <%= answer.uuid[0,7] %>
        </td>
  			<td>
  				<%= answer.year %>
  			</td>
  			<td>
  				<%= answer.japanese %>
  			</td>
        <td>
          <%= answer.english %>
        </td>
        <td>
          <%= answer.math %>
        </td>
        <td>
          <%= answer.social %>
        </td>
        <td>
          <%= answer.science %>
        </td>
        <td>
          <%= answer.total %>
        </td>
        <td>
          <%= answer.school %>
        </td>
        <td>
          <%= answer.school_id %>
        </td>
        <td>
          <%= answer.created_at.strftime("%m/%d %H:%M:%S") %>
        </td>
  		</tr>
		<% end %>
	</table>

  <h4>妥当データ</h4>
  <table class="statsTable">
    <tr>
      <td>uuid</td>
      <td>国語</td>
      <td>英語</td>
      <td>数学</td>
      <td>社会</td>
      <td>理科</td>
      <td>合計</td>
      <td>志望校</td>
      <td>志望校id</td>
      <td>登録日時</td>
    </tr>
  <%
    validScore.each {|key, value|
      #puts("total is #{value["total"]}")
  %>
  <%# ここから妥当データの表 %>
    <tr>
      <td>
        <%= key[0,7] %>
      </td>
      <td>
        <%= value["japanese"] %>
      </td>
      <td>
        <%= value["english"] %>
      </td>
      <td>
        <%= value["math"] %>
      </td>
      <td>
        <%= value["social"] %>
      </td>
      <td>
        <%= value["science"] %>
      </td>
      <td>
        <%= value["total"] %>
      </td>
      <td>
        <%= value["school"] %>
      </td>
      <td>
        <%= value["school_id"] %>
      </td>
      <td>
        <%= value["created_at"].strftime("%m/%d %H:%M:%S") %>
      </td>
    </tr>
  <%
    }
  %>
  </table>

<% end %>
