<table class="table">
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td>
          <a href="users/<%= user.id %>">
              <%= fa_icon 'user' %>
              <%= user.nickname %>
          </a>
              <% if Studysession.find_by(user:user.id,active:true) %>
                <div class="chip deep-orange lighten-3">勉強中</div>
              <% end %>
            <%= user.word %>:
            <%= user.grade %>:
            <%= user.area %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>