<table class="table">
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td>
          <a href="users/<%= user.id %>">
              <%= fa_icon 'user' %>
              <%= user.nickname %>
          </a>
          <% if Studysession.find_by(user:user.id,active:true) %>
            <div class="chip studying">勉強中</div>
          <% end %>
            
          <% if user.grade.present? %>
            <div class="chip blue lighten-5">
              <%= user.area %>
            </div>
          <% end %>
          <% if user.area.present? %>
            <div class="chip light-green lighten-5">
              <%= user.grade %>
            </div>
          <% end %>
            <%= user.word %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>