

<!-- ユーザカード  -->
<ul class="collection">
  <% @user.each do |user| %>
    <li class="collection-item avatar">
      <a href="" target="_blank" class="circle">
          <% if user.image.thumb.url.present? %>
            <span class="cover index" style="background-image: url('<%= user.image.thumb.url %>')" >
            </span>
          <% else %>
            <span class="cover index" style="background-image: url('noname.png')" >
            </span>
          <% end %>
      </a>
      <span class="title">          
        <a href="users/<%= user.id %>">
          <% if user.nickname.present? %>
            <%= user.nickname %>
          <% else %>
            <%= "ユーザ#{user.id}" %>
          <% end %>
        </a>
        <% if Studysession.find_by(user:user.id,active:true) %>
            <div class="chip studying">勉強中</div>
        <% end %>
        <% if user.grade.present? %>
            <div class="chip blue lighten-5">
              <%= user.area %>
            </div>
          <% end %>
          <% if user.area.present? %>
            <div class="chip light-green lighten-5">
              <%= user.grade %>
            </div>
          <% end %>
      </span>
      <p>
        
        <%= user.word %>
      </p>
      <!--
      <span class="secondary-content">
         <% @user=user %>
        <% unless current_user.id==@user.id %>
          <div id="follow_form">
            <% if current_user.following?(@user) %>
              <%= render 'unfollow' %>
            <% else %>
              <%= render 'follow' %>
            <% end %>
          </div>
        <% end %>
      </span>
      -->
    </li>
  <% end %>
</ul>

<!-- ここまで -->  