<% @user.each do |user| %>
<p>
<%= user.id %>
<a href="users/<%= user.id %>">
    <%= user.nickname %>
</a>
    <% if Studysession.find_by(user:user.id,active:true) %>
      <span class="label label-warning">勉強中</span>
    <% end %>
  <%= user.word %>:
  <%= user.grade %>:
  <%= user.area %>
</p>
<% end %>