
<h5><%= @user.nickname %></h5>

<% if @user.skype.present? %>
  <a href="skype:<%= @user.skype %>?call">skype</a>
<% end %>
<section>
  <%= render 'shared/stats' %>
</section>
<% unless current_user.id==@user.id %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>

<% if @user.total_time.present? %>
  <p>セッション:<%= @study_lst.count %>回</p>
  <p>総学習時間:<%= (@user.total_time/60).to_i %>時間</p>
<% end %>

<!-- カレンダー -->
<% if @user.premium.present? %>
<div id="time"></div>
<div id="calendar" class="fc-calendar-container"></div>
<script type="text/javascript">
$(document).ready(function() {
  $("#time").text("year")
  $('#calendar').calendario({
    caldata : codropsEvents    // 表示データ
  });
});
// 表示データ例
var codropsEvents = {
    '11-23-2015' : '<a href="http://tympanus.net/codrops/2012/11/23/three-script-updates/">Three Script Updates</a>',
    '11-01-2015' : 'x',
    <% @daily.each do |key,value| %>
      <% s=key.to_s %>
      <% s=s.split("-") %>
      <% value=value/60%>
      <% if value>10 %>
        <% rank=10 %>
      <% else %>
        <% rank = value %>
      <% end %>
      <%= "\'#{s[1]}-#{s[2]}-#{s[0]}\':\'<div class=\"calender calender#{rank}\"><br></div>\',".html_safe %>
    <% end %>

};
</script>
<% end %>




<!-- カード -->  
<% if signed_in? %>
    <% @daily.each do |key,val| %>
      <%= key %>
      :
      <% if val.div(60)>0 %>
        <%= val.div(60) %>時間
      <% end %>
      <%= val.modulo(60) %>分
      <br>
        <% if @user.premium.present? %>
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" >
          <rect x="0%" y="0" width="96%" height="80" fill="#ffffff" stroke="#eceff1" />
          <!--<rect x="40%" y="0" width="8%" height="80" fill="#ffecb3"  />-->

          <!-- 勉強グラフ描画 -->
          <!--<rect x="41.93%" y="0" width="8%" height="80" fill="#ffecb3"  /> -->
            <% spl=key.split("-") %>
            <% from = Time.new(spl[0],spl[1],spl[2]) %>
            <% to = from+1.day-1.second %>
            <% daily_session_lst=Studysession.where(created_at:from..to) %>
            <% daily_session_lst.each do |session| %>
              <% session.created_at.hour %>
              <% session.created_at.min.round(-1) %>
              <% session.time.to_i.round(-1) %>
              <% session_x=96*(session.created_at.hour*0.0416+session.created_at.min.round(-1)/10*0.00694) %>
              <% session_width=96*(session.time.to_i.round(-1)/10*0.00694) %>
              <rect x="<%= session_x %>%" y="0" width="<%= session_width %>%" height="80" fill="#ff9800"  />
            <% end %>
          <!--  -->
          <% for num in 0..24 do %>
            <% x=num*4 %>
            <text class = "svgtext" x="<%= x %>%" y="85" >
            <%= num %>
            </text>
            <line x1="<%= x %>%" y1="80" x2="<%= x %>%" y2="60" stroke="#eceff1" stroke-width="1"/>
          <% end %>
        </svg>
        <% end %>
    <% end %>
    <h4>フィード</h4>
    <ul class="collection">
      <% @study_lst.each do |studysession| %>
        <%= render '/feeditem' ,feed_item: studysession %>
      <% end %>
    </ul>

<% end %>



<!--ここまで -->  
