
<h5><%= @user.nickname %></h5>

<section>
  <%= render 'shared/stats' %>
</section>
<% unless current_user.id==@user.id %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>

<% if @user.total_time.present? %>
  <p>セッション:<%= @study_lst.count %>回</p>
  <p>総学習時間:<%= (@user.total_time/60).to_i %>時間</p>
<% end %>

<!-- カード -->  
<% if signed_in? %>
    <% @daily.each do |key,val| %>
      <%= key %>
      :
      <% if val.div(60)>0 %>
        <%= val.div(60) %>時間
      <% end %>
      <%= val.modulo(60) %>分
      <br>
    <% end %>
    <h4>フィード</h4>
    <ul class="collection">
      <% @study_lst.each do |studysession| %>
        <%= render '/feeditem' ,feed_item: studysession %>
      <% end %>
    </ul>

<% end %>
<!--ここまで -->  
