
<% if @user.image.thumb.url.present? %>
  <span class="cover prof" style="background-image: url('<%= @user.image.thumb.url %>')" >
  </span>
<% else %>
  <span class="cover prof" style="background-image: url('<%= asset_path "noname.png" %>')" >
  </span>
<% end %>
<h5><%= @user.nickname %></h5>

<% if @user.skype.present? %>
  <a href="skype:<%= @user.skype %>?call">skype</a>
<% end %>
<section>
  <%= render 'shared/stats' %>
</section>
<% if current_user %>
  <% unless current_user.id==@user.id %>
    <div id="follow_form">
      <% if current_user.following?(@user) %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'follow' %>
      <% end %>
    </div>
  <% end %>
<% end %>


<!-- 統計 -->
<% if @user.total_time.present? %>
<h5>統計</h5>
  <div class="statsCircle">
    <%= @user.starpoint %>
    <div class="statsItem">STARポイント</div>
  </div>
  <div class="statsCircle">
    <%= @study_lst.count %><span class="unit">回</span><br>
    <div class="statsItem">勉強回数</div>
  </div>
  <div class="statsCircle">
    <%= @study_lst.sum(:time)/60.to_i %><span class="unit">時間</span><br>
    <div class="statsItem">勉強時間</div>
  </div>
  
  <!--<p>合計スター数:<%= %></p>-->
<% end %>
<!-- end 統計 -->



<!-- カレンダー -->
<% if @user.premium.present? %> 
  <%= "<span id=\"custom-prev\">#{fa_icon 'chevron-left'}</span>".html_safe %>
<% elsif current_user && current_user.id==@user.id %>
  <%= "<span>".html_safe %>
  <%= link_to (fa_icon 'chevron-left'),"javascript:void(0);" ,'data-container'=>"body",'data-toggle'=>"popover", 'data-placement'=>"bottom", 
  'data-html'=>"true",'data-content'=>"今月以外のカレンダーはプレミアム機能です" %>
  <%= "</span>".html_safe %>
  <script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
  </script>  
<% end %>

<span id="year"></span>年<span id="month"></span>
<% if @user.premium.present? %> 
  <%= "<span id=\"custom-next\">#{fa_icon 'chevron-right'}</span>".html_safe %>
<% elsif current_user && current_user.id==@user.id %>
  <%= "<span>".html_safe %>
  <%= link_to (fa_icon 'chevron-right'),"javascript:void(0);" ,'data-container'=>"body",'data-toggle'=>"popover", 'data-placement'=>"bottom", 
  'data-html'=>"true",'data-content'=>"今月以外のカレンダーはプレミアム機能です" %>
  <%= "</span>".html_safe %>
<% end %>
<div id="calendar" class="fc-calendar-container"></div>
<script type="text/javascript">
// 表示データ例
var codropsEvents = {
    //'11-01-2015' : 'x',
    <% @daily.each do |key,value| %>
      <% s=key.to_s %>
      <% s=s.split("-") %>
      <% value=value/60%>
      <% if value>10 %>
        <% rank=10 %>
      <% else %>
        <% rank = value %>
      <% end %>
      <%= "\'#{s[1]}-#{s[2]}-#{s[0]}\':\'<div class=\"calender calender#{rank}\"><br></div>\',".html_safe %>
    <% end %>

};
$(document).ready(function() {
  
  cal=$('#calendar').calendario({
    caldata : codropsEvents    // 表示データ
  });
  $('#year').html( cal.getYear()  );
  $( '#month' ).html( cal.getMonthName() );

        $( '#custom-next' ).on( 'click', function() {
          cal.gotoNextMonth( updateMonthYear );
        } );
        $( '#custom-prev' ).on( 'click', function() {
          cal.gotoPreviousMonth( updateMonthYear );
        } );

  function updateMonthYear() {        
    $('#month').html( cal.getMonthName() );
    $('#year').html( cal.getYear() );
    }
});

</script>

<!-- カード -->  
<% i=0 %>
<% @user.premium.present? ? l=500 : l=14 %>
    <!--
    <% @daily.each do |key,val| %>
      <%= key %>
      :
      <% if val.div(60)>0 %>
        <%= val.div(60) %>時間
      <% end %>
      <%= val.modulo(60) %>分
      <br>
      -->
      <!-- 勉強グラフ描画 -->
      <!--
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" >
          
            <% spl=key.to_s.split("-") %>
            <% from = Time.new(spl[0],spl[1],spl[2]) %>
            <% to = from+1.day-1.second %>
            <% daily_session_lst=Studysession.where(user:@user.id,created_at:from..to) %>
            <% daily_session_lst.each do |session| %>
              <% sc=session.created_at %>
              <% session.created_at.hour %>
              <% session.created_at.min.round(-1) %>
              <% session.time.to_i.round(-1) %>
              <% session_x=96*(sc.hour*0.0416+sc.min.round(-1)/10*0.00694) %>
              <% session.time.to_i.round(-1)==0 ? session_width=0.3 : session_width=96*(session.time.to_i.round(-1)/10*0.00694) %>
              <g>
              <title><%= "#{sc.hour}:#{sprintf('%02d',sc.min)}開始 #{session.time}分"%></title>
              <rect x="<%= session_x %>%" y="0" width="<%= session_width %>%" height="80" fill="#ff9800"  />
              </g>
            <% end %>
          <% for num in 0..24 do %>
            <% x=num*4 %>
            <text class = "svgtext" x="<%= x %>%" y="85" fill="#90a4ae">
            <%= num %>
            </text>
            <% unless num ==0 || num ==24 %>
              <line x1="<%= x %>%" y1="80" x2="<%= x %>%" y2="60" stroke="#eceff1" stroke-width="1"/>
            <% end %>
          <% end %>
          <rect x="0%" y="0" width="96%" height="80" fill="#ffffff" fill-opacity="0" stroke="#90a4ae" >
        </svg>
      -->
    <!--
      <% i +=1 %>
      <% break if i >=l %>
    <% end %>
    -->

    <% if current_user && current_user.id==@user.id %>
      <% unless @user.premium.present? %>
        <%= link_to "14日以上前の記録","javascript:void(0);" ,'data-container'=>"body",'data-toggle'=>"popover", 'data-placement'=>"bottom", 
            'data-html'=>"true",'data-content'=>"14日以上前の表示はプレミアム機能です" %>
      <% end %>
    <% end %>

    <h4>フィード</h4>
    <ul class="collection">
      <% @study_lst.take(30).each do |studysession| %>
        <%= render '/feeditem' ,feed_item: studysession %>
      <% end %>
    </ul>



