<!DOCTYPE html>
<html>
<head>
  <title>STARDY</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <meta http-equiv="Refresh" content="60"> -->

</head>
<body>


  <div class="navbar-fixed ">
    <nav>
      <div class="nav-wrapper globalnav">
        <a href="/" class="brand-logo">STARDY</a>
        
        <ul id="nav-mobile" class="right">
          <% if user_signed_in? %>
            <li class="nickname"><%= current_user.nickname %></strong>
            <% if @active_now.present? %>
                <div class="chip studying">勉強中</div>
            <% end %></li>
            <li data-container="body" data-toggle="popover" data-placement="bottom" data-content="ここにお知らせが表示されます"><%= link_to (fa_icon 'bell'),"#" %></li>
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
            <li><%= link_to (fa_icon 'user-plus') , users_path  %></li>
            <li><%= link_to (fa_icon 'cog'), edit_user_registration_path, :class => 'navbar-link' %></li>
          <% else %>
            <li><%= link_to "登録", new_user_registration_path, :class => 'navbar-link'  %></li> 
            <li><%= link_to "ログイン", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

<!-- セッション中の表示。細く加工する。
  <div class="navbar-fixed ">
    <nav>
      <div class="nav-wrapper red accent-3">
        <a href="/" class="brand-logo">NOW</a>
        <ul id="nav-mobile" class="right">
          <% if user_signed_in? %>
            <li class="nickname"><%= current_user.nickname %></strong>
            <% if @active_now.present? %>
                <div class="chip deep-orange lighten-3">勉強中</div>
            <% end %></li>
            <li><%= link_to (fa_icon 'bell'),"#" %></li>
            <li><%= link_to (fa_icon 'user-plus') , users_path  %></li>
            <li><%= link_to (fa_icon 'cog'), edit_user_registration_path, :class => 'navbar-link' %></li>
          <% else %>
            <li><%= link_to "登録", new_user_registration_path, :class => 'navbar-link'  %></li> 
            <li><%= link_to "ログイン", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
-->

<div class="container">



<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<%= yield %>
</div>
      <%= debug(params) if Rails.env.development? %>
</body>
</html>